<h1>Edit Post</h1>
<form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Title</label>
    <textarea class="form-control col-6 edit-post-submit" id="edit-post-title" rows="1"></textarea>
  </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">body</label>
    <textarea class="form-control col-6" id="edit-post-body" rows="10"></textarea>
  </div>
  <button type="button" class="btn btn-primary btn-lg delete-post-submit" id="edit-post-submit">Submit</button>
  <script src="/js/edit-post.js"></script>
</form>