<h1>{{title}}</h1>
<h3>By: {{user.username}}</h3>
<p>{{body}}</p>
<br>
<p>Posted: {{format_date createdAt}}</p>

<form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Add Comment</label>
    <textarea class="form-control col-6" id="add-comment-body" rows="1"></textarea>
  </div>

  <button type="button" class="btn btn-primary btn-lg" id="add-comment-submit">Submit</button>
  <script src="/js/post.js"></script>
</form>