:root{
    --darkbackground: rgb(240, 112, 112);
}

#main-nav{
    display: flex;
    background-color: var(--darkbackground);
    font-size: 30px;
    color: white;
    justify-content: space-around;
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
}
#main-header{
    display: flex;
    justify-content: center;
    background-color: var(--darkbackground);
}
.custom-input{
    width: 30%;
    display: inline-block;
}
#existing-user{
    top: -20px;
}
.post-card, .post-card:hover{
    background-color: rgb(42, 202, 255);
    color: wheat;
    text-decoration: none;
}
.card{
    background-color: rgb(42, 202, 255);
    border-radius: 10px;
}
.edit-post-button{
    width: 150px;
}
.delete-post-button{
    width: 150px;
}
.custom-small-button{
    width: 150px;
}
#creat-post{
    background-color: green;
    color: white;
    text-decoration: none;
    font-size: 40px;
    padding: 5px;
    border-radius: 10px;
}
.post-render{
    background-color: rgb(42, 202, 255);
    border-radius: 10px;
}
.comment{
    border: 5px solid black;
}
.custom-post-card{
    color: black;
}