:root{
    --darkbackground: rgb(240, 112, 112);
}

#main-nav{
    display: flex;
    background-color: var(--darkbackground);
    font-size: 30px;
    color: white;
    justify-content: space-around;
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
}
#main-header{
    display: flex;
    justify-content: center;
    background-color: var(--darkbackground);
}
.custom-input{
    width: 30%;
    display: inline-block;
}
#existing-user{
    top: -20px;
}
.post-card, .post-card:hover{
    background-color: rgb(42, 202, 255);
    color: wheat;
    text-decoration: none;
}
.card{
    background-color: rgb(42, 202, 255);
}
.edit-post-button{
    width: 150px;
}
.delete-post-button{
    width: 150px;
}